*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(bg.png) no-repeat center center/cover;
}

nav{
  width: 100%;
  border-bottom: 1px solid #3A3C35;
}
.nav-burger{
  display: none;
}
.navbar{
width: 90%;
margin: auto;
padding: 3% 0;  
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-logo > h2{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 font-size: 24px;
 font-weight: 500;
 line-height: 29.76px;
 text-align: left;
 color: #3A3C35;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.nav-link > a{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 font-size: 16px;
font-weight: 300;
line-height: 19.84px;
text-align: left;
text-decoration: none;
color: #3A3C35;
}
.nav-num > p{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
font-size: 16px;
font-weight: 400;
line-height: 19.84px;
text-align: left;
}
header{
  width: 100%;
}
.header{
  width: 90%;
  margin:100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto;
}
.header > .btn{
	margin-top: 32px;
    width: 300px;
    height: 44px;
    border-radius: 100px;
    border: none;
    background-color: #3A3C35;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: center;
    color: white;
	display: none;
}
.header_main{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.header_main > h1{
    font-family: Unbounded;
    font-size: 124px;
    font-weight: 500;
    line-height: 136.4px;
    text-align: left;    
}
.header_main > .btn{
    margin-top: 307px;
    width: 300px;
    height: 44px;
    border-radius: 100px;
    border: none;
    background-color: #3A3C35;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: center;
    color: white;
}
.header-text > p{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px;
    text-align: left;
    color: #3A3C35;    
}
.about_section{
	width: 100%;
	margin-top: 100px;
}
.about{
	width: 90%;
	margin: auto;
}
.about_txt{
	margin: auto 16px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;	
}
.circle{
	width: 95%;
	margin: 32px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	justify-content: space-between;
	align-items: center;
	grid-gap: 10px;
}
.circle_div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #3A3B35;
	padding: 30% 15%;
	text-align: center;
	border-radius: 50%;
}
.circle_div > h1{
	font-family: Unbounded;
	font-size: 140px;
	font-weight: 500;
	line-height: 173.6px;
	text-align: center;
	color: #3A3B35;
}
.circle_div > p{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 300;
	line-height: 29.76px;
	text-align: center;
	color: #3A3B35;
}
.circle_div_inner > h6{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3B35;	
}
.circle_div_inner > h1{
	font-family: Unbounded;
	font-size: 140px;
	font-weight: 500;
	line-height: 173.6px;
	text-align: center;
	color: #3A3B35;
}
.circle_div_inner{
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.circle_img{
	width: 100%;
	position: relative;
	top: -200px;
	text-align: center;
}
.circle_img > img{
	width: 70%;
}
.FAQ{
	margin: auto;
	margin-top: 150px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.faq_head2{
	display: none;
}
.faq_head{
	width: 25%;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.faq_head > h1{
	font-family: Unbounded;
	font-size: 100px;
	font-weight: 500;
	line-height: 124px;
	text-align: left;
	color: #3A3B35;
}
.faq_btn{
	width: 284px;
	height: 50px;
	border-radius: 100px;
	border: 1px solid #3A3C35;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.faq_btn > p{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 500;
	line-height: 17.36px;
	text-align: left;
	color: #3A3C35;	
}
.faq_div{
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.faq_txt{
	margin: 10px 0 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 2% 0;
	border-bottom: 1px solid #3A3C35;
}
.faq_txt > h5{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3B35;	
}
.faq_txt_btn{
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
}
.faq_txt_btn > img{
	width: 30px;
	height: 30px;
	margin: auto;
}
.txt_faq > h5{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3B35;	
}
.faq_txtt{
	margin-top: 25px;
}
.faq_txtt > p{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	color: #3A3C35;
}
.faq_btn2{
	display: none;
}
footer{
	margin: 100px auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-top: 1px solid;
}
.footer_main{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_main > h3{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3C35;
	padding: 5%;
}
.main_link1{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.main_link2{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.footer_second{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.footer_1st{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: column;
}
.second_link1{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_2nd{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_2nd > a{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_main2{
	display: none;
}
.footer_link2{
	display: none;
}
.footer_link > a{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #3A3B35;
	text-decoration: none;
}
.footer_link > p{
	margin-top: 25px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #3A3B35;
}
@media (max-width: 360px) {
    .nav-burger{
      display: block;
    }
    .nav-link,.nav-num{
      display: none;
    }
	.header{
		flex-direction: column;
		align-items: flex-start;
	}
	.header > .btn{
		display: block;
	}
    .header_main > h1{
		font-family: Unbounded;
		font-size: 32px;
		font-weight: 500;
		line-height: 35.2px;
		text-align: left;
    }
	.header_main > .btn{
		display: none;
	}
    .header-text{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
    }
    .header-text >p{
      margin-bottom: 30px;
      font-family: "Unbounded", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
    }
    .header-text > .btn{
      color: white;
      background-color: #3A3B35;
    }
    .about_txt{
      flex-direction: column;
    }
    .about_txt > h1{
      font-family: Unbounded;
      font-size: 32px;
      font-weight: 500;
      line-height: 35.2px;
      text-align: left;
      color: #3A3B35;      
    }
    .about_txt > p{
      font-family: Unbounded;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
      color: #3A3B35;      
	}
	.circle{
		grid-template-columns: 1fr;
	}
  .circle_div > h1{
    font-family: Unbounded;
    font-size: 64px;
    font-weight: 500;
    line-height: 79.36px;
    text-align: left;    
  }
  .circle_div > p{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.84px;
    text-align: left;    
  }
  .circle_div_inner > h1{
    font-family: Unbounded;
    font-size: 64px;
    font-weight: 500;
    line-height: 79.36px;
    text-align: left;
  }
  .circle_div_inner > h6{
    font-family: Unbounded;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;      
  }
  .circle_img{
    top: -100px;
  }
  .circle_img > img{
    width: 100%;
  }
  .FAQ{
    flex-direction: column;
    margin-top: 60px;
  }
  .faq_head{
    display: none;
  }
  .faq_head2{
    display: block;
  }
  .faq_head2 > h1{
    font-family: Unbounded;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: left;
  }
  .faq_btn{
    display: none;
  }
  .faq_div{
    margin-top: 32px;
    width: 100%;
  }
  .faq_txt > h5{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
  }
  .txt_faq{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.84px;
    text-align: left;
  }
  .faq_txtt > p{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;    
  }
  .faq_btn2{
    width: 328px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #3A3C35;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .faq_btn2 > p{
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: left;
    color: white;
  }
  footer{
    margin: 32px auto;
    width: 98%;
    flex-direction: column;
    padding: 5%;
    align-items: flex-start;
  }
  .footer_main{
    display: none;
  }
  .footer_main2{
    display: block;
    width: 100%;
  }
  .footer_main2 > h3{
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: left;    
    padding: 5%;
  }
  .footer_second{
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer_1st{
    width: 50%;
  }
  .footer_2nd{
    width: 50%;
  }
  .second_link1{
    padding: 5%;
  }
  .footer_2nd > a{
    padding: 5%;
  }
  .footer_link{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .footer_link > a{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;    
  }
  .footer_link > p{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;    
  }
  .footer_link2{
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}