*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.png) no-repeat center center/cover;
}
nav{
    width: 100%;
    border-bottom: 1px solid #3A3C35;
}
.nav-burger{
    display: none;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 3% 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo > a{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: #3A3C35;
    text-decoration: none;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-link > a{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.84px;
    text-align: left;
    text-decoration: none;
    color: #3A3C35;
}
.nav-num > p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
}
.header{
    width: 90%;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > h1{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 124px;
    font-weight: 500;
    line-height: 136.4px;
    text-align: left;
}
.header-text{
    margin-top: 50px;
    width: 20%;
}
.header-text > .btn{
    width: 157px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid;
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.36px;
    text-align: center;
    background-color: transparent;
}
.grid-container{
  width: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.bg1{
 background: url(img/Rectangle\ 12.png) no-repeat center center/cover;
}
.bg2{
 background: url(img/Rectangle\ 13.png) no-repeat center center/cover;
}
.bg3{
 background: url(img/Rectangle\ 12\ \(2\).png) no-repeat center center/cover;
}
.bg4{
 background: url(img/Rectangle\ 12\ \(1\).png) no-repeat center center/cover;
}
.bg5{
 background: url(img/Rectangle\ 13\ \(1\).png) no-repeat center center/cover;
}
.bg6{
 background: url(img/7016c2ede1e3fc3b358792263629dc44\ 1.png) no-repeat center center/cover;
}
.card{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 0 0 5% 5%;
}
.card > p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.84px;
    text-align: left;
    color: white;
}
.card > h1{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: white;
    margin: 30px 0;
}
.btn{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.36px;
  text-align: center;
  border-radius: 30px;
  padding: 3%;
  width: 60%;
  border: 1px solid #3A3C35;
}
.car-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    gap: 10px;
}
.card-num{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.36px;
    text-align: center;
    border-radius: 30px;
    padding: 3%;
    width: 60%;
    border: 2px solid white;
    color: white;
}
.bg-diff{
  background-color: #3A3B35;
}
.car-img{
    display: none;
}
.first{
  display: none;
}
footer{
	margin: 100px auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-top: 1px solid;
}
.footer_main{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_main > h3{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3C35;
	padding: 5%;
}
.main_link1{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.main_link2{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.footer_second{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.footer_1st{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: column;
}
.second_link1{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_2nd{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_2nd > a{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_main2{
	display: none;
}
.footer_link2{
	display: none;
}
.footer_link > a{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #3A3B35;
	text-decoration: none;
}
.footer_link > p{
	margin-top: 25px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #3A3B35;
}
@media (max-width: 360px) {
    .nav-burger{
      display: block;
    }
    .nav-link,.nav-num{
      display: none;
    }
    .header{
        flex-direction: column;
        margin: 20px auto;
    }
    .header > h1{
      width: 100%;
      font-size: 32px;
      font-weight: 500;
      line-height: 35.2px;
      text-align: left;
    }
    .header-text{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .header-text >p{
      margin-bottom: 30px;
      font-family: "Unbounded", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: left;
    }
    .header-text >p > br{
      display: none;
    }
    .grid-container{
      width: 100%;
      grid-template-columns: 1fr;
      color: #3A3B35 !important;
      grid-gap: 150px;
      margin-top: 150px;
    }
    .car-img{
      width: 100%;
      display: block;
    }
    .bg1,.bg2,.bg3,.bg4,.bg5,.bg6{
      background: none;
    }
    .card{
      width: 100%;
      padding: 0;
    }
    .card > h1{
      color: #3A3B35;
      margin: 30px 0 0 30px ;
    }
    .card > p{
      margin: 30px 0 0 30px ;
      color: #3A3B35;
    }
    .car-text{
      margin: 30px 0 0 30px ;
      width: 90%;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: column-reverse;
    }
    .card-num{
      color: #3A3B35;
      border: 2px solid #3A3B35;
    }
    .car-text > .btn{
      margin-top: 30px;
      background-color: #3A3B35;
      color: white;
      width: 100%;
    }
    .last{
      display: none;
    }
    .first{
      display: block;
    }
 footer{
    margin: 32px auto;
    width: 98%;
    flex-direction: column;
    padding: 5%;
    align-items: flex-start;
  }
  .footer_main{
    display: none;
  }
  .footer_main2{
    display: block;
    width: 100%;
  }
  .footer_main2 > h3{
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.36px;
    text-align: left;    
    padding: 5%;
  }
  .footer_second{
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer_1st{
    width: 50%;
  }
  .footer_2nd{
    width: 50%;
  }
  .second_link1{
    padding: 5%;
  }
  .footer_2nd > a{
    padding: 5%;
  }
  .footer_link{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .footer_link > a{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;    
  }
  .footer_link > p{
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;    
  }
  .footer_link2{
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}