*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background: url(bg.png) no-repeat center center/cover;
}
nav{
    width: 100%;
    border-bottom: 1px solid #3A3C35;
}
.nav-burger{
    display: none;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 3% 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo > a{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: #3A3C35;
    text-decoration: none;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-link > a{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.84px;
    text-align: left;
    text-decoration: none;
    color: #3A3C35;
}
.nav-num > p{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
}
.map{
	width: 95%;
	margin: auto;
    margin-top: 50px;
}
.map_txt{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.h1_1{
	font-family: Unbounded;
	font-size: 100px;
	font-weight: 500;
	line-height: 100px;
	text-align: left;
	color: #3A3B35;	
    display: none;
}
.h1_2{
	font-family: Unbounded;
	font-size: 100px;
	font-weight: 500;
	line-height: 100px;
	text-align: left;	
	display: inline;
}
.map_link > a{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #3A3B35;
	text-decoration: none;
}
.map_link > p{
	margin-top: 25px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #3A3B35;
}
.map_btn{
	margin-top: 70px;
	width: 284px;
	height: 50px;
	border-radius: 100px;
	border: none;
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 500;
	line-height: 17.36px;
	text-align: center;
	color: white;
	background-color: #3A3C35;
}
.map_img1{
	margin-top: 60px;
}
.map_img2{
	display: none;
}
.map_txt2{
	display: none;
}
.map_btn2{
	display: none;
}
footer{
	margin: 100px auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-top: 1px solid;
}
.footer_main{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_main > h3{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3C35;
	padding: 5%;
}
.main_link1{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.main_link2{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.footer_second{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.footer_1st{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: column;
}
.second_link1{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_2nd{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_2nd > a{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_main2{
	display: none;
}
.footer_link2{
	display: none;
}
.footer_link > a{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #3A3B35;
	text-decoration: none;
}
.footer_link > p{
	margin-top: 25px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #3A3B35;
}
.okno{
    position: fixed;
    top: 15%;
    right: 28%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 1903px 1469px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 60px 60px 110px 60px;
}
.okno > h1{
    font-family: Unbounded;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    color: #3A3B35;
}
.info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.info > input{
    width: 49%;
    height: 40px;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid;
}
.okno > input{
    width: 100%;
    margin-top: 50px;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
}
.txt{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.txt > a > button{
    width: 285px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #3A3C35;   
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: white;
	text-decoration: none;
}
.agree{
    margin-left: 25px;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.agree > input{
	width: 20px;
	height: 20px;
	border: 1px solid;
	accent-color: white;
}
.agree > a{
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: #3A3B35;    
}
@media (max-width:360px) {
    .nav-burger{
      display: block;
    }
    .nav-link,.nav-num{
      display: none;
	}
	.map{
		margin: 0;
	}
	.map_img1{
		display: none;   
	}
	.map_img2{
		display: block;
		margin-top: 32px;
	}
	.h1_1{
		display: none;
	}
	.map_txt_txt{
		display: none;
	}
	.h1_2{
		margin-top: 24px;
		font-family: Unbounded;
		font-size: 32px;
		font-weight: 500;
		line-height: 35.2px;
		text-align: left;		
	}
	.map_txt2{
		width: 95%;
		margin: auto;
		margin-top: 32px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
	}
	.map_txt2 > h1{
		font-family: Unbounded;
		font-size: 32px;
		font-weight: 500;
		line-height: 35.2px;
		text-align: left;    
	}
	.map_txt2 > .map_txt_txt{
		display: block;
	}
	.map_link > a{
		margin-top: 24px;
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		text-align: left;    
		text-decoration: none;
	}
	.map_link > p{
		margin-top: 16px;
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		text-align: left;
	}
	.map_btn2{
		margin-top: 32px;
		display: inline-block;
		width: 329px;
		height: 50px;
		border-radius: 100px;
		font-family: Unbounded;
		font-size: 14px;
		font-weight: 500;
		line-height: 17.36px;
		text-align: center;
		color: white;
		background-color: #3A3C35;
	}
	footer{
		margin: 32px auto;
		width: 98%;
		flex-direction: column;
		padding: 5%;
		align-items: flex-start;
	}
	.footer_main{
		display: none;
	}
	.footer_main2{
		display: block;
		width: 100%;
	}
	.footer_main2 > h3{
		font-family: Unbounded;
		font-size: 14px;
		font-weight: 500;
		line-height: 17.36px;
		text-align: left;    
		padding: 5%;
	}
	.footer_second{
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
	}
	.footer_1st{
		width: 50%;
	}
	.footer_2nd{
		width: 50%;
	}
	.second_link1{
		padding: 5%;
	}
	.footer_2nd > a{
		padding: 5%;
	}
	.footer_link{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	.footer_link > a{
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		text-align: left;    
	}
	.footer_link > p{
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		text-align: left;    
	}
	.footer_link2{
		width: 100%;
		display: block;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}