*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.png) no-repeat center center/cover;
}

nav{
    width: 100%;
    border-bottom: 1px solid #3A3C35;
}
.nav-burger{
    display: none;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 3% 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo > a{
    font-family: Unbounded;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #3A3C35;
    text-decoration: none;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.nav-link > a{
    font-family: Unbounded;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    color: #3A3C35;
}
.nav-num > p{
    font-family: Unbounded;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
header{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
header > h1{
    font-family: Unbounded;
    font-size: 115px;
    font-weight: 500;
    line-height: 136px;
    text-align: left;
    color: #3A3C35;
}
main{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}
.img{
    width: 45%;
    border-radius: 10%;
}
.img_1{
    width: 100%;
}
.img_2{
	display: none;
    width: 100%;
}
.txt{
    width: 45%;
}
.txt > p{
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #3A3C35;
}
.txt > button{
    width: 285px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #3A3C35;
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: white;
    margin-top: 90px;
}
footer{
	margin: 100px auto 10px auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-top: 1px solid;
}
.footer_main{
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_main > h3{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 29.76px;
	text-align: left;
	color: #3A3C35;
	padding: 5%;
}
.main_link1{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.main_link2{
	font-family: Unbounded;
	font-size: 14px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #3A3B35;
	padding: 5%;
}
.footer_second{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.footer_1st{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: column;
}
.second_link1{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.84px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_2nd{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer_2nd > a{
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-align: left;
	color: #3A3C35;
	padding: 15%;
	text-decoration: none;
}
.footer_main2{
	display: none;
}
.footer_link2{
	display: none;
}
.footer_link > a{
	font-family: Unbounded;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #3A3B35;
	text-decoration: none;
}
.footer_link > p{
	margin-top: 25px;
	font-family: Unbounded;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #3A3B35;
}
@media (max-width:360px) {
    .nav-burger{
      display: block;
    }
    .nav-link,.nav-num{
      display: none;
	}
	header{
		margin-top: 25px;
	}
	header > h1{
		font-family: Unbounded;
		font-size: 30px;
		font-weight: 500;
		line-height: 35px;
		text-align: left;		
	}
	main{
		flex-direction: column;
		align-items: start;
		margin-top: 30px;
	}
	.img{
		width: 100%;
		margin: auto;
	}
	.img_1{
		display: none;
	}
	.img_2{
		display: block;
	}
	.txt{
		width: 100%;
		margin: auto;
		margin-top: 25px;
	}
	.txt > button{
		width: 90%;
		margin: auto;
		margin-top: 30px;
	}
	footer{
		margin: 32px auto;
		width: 98%;
		flex-direction: column;
		padding: 5%;
		align-items: flex-start;
	}
	.footer_main{
		display: none;
	}
	.footer_main2{
		display: block;
		width: 100%;
	}
	.footer_main2 > h3{
		font-family: Unbounded;
		font-size: 14px;
		font-weight: 500;
		line-height: 17.36px;
		text-align: left;    
		padding: 5%;
	}
	.footer_second{
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
		padding: 3%;
	}
	.footer_1st{
		width: 50%;
	}
	.footer_2nd{
		width: 50%;
	}
	.second_link1{
		padding: 5%;
	}
	.footer_2nd > a{
		padding: 5%;
	}
	.footer_link{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding: 5%;
	}
	.footer_link > a{
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		text-align: left;    
	}
	.footer_link > p{
		font-family: Unbounded;
		font-size: 16px;
		font-weight: 300;
		line-height: 16px;
		text-align: left;    
	}
	.footer_link2{
		width: 100%;
		display: block;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}